---
import '../styles/learn.css';
const { head } = Astro.props;
---
<!doctype html>
<html lang="th">
<head>
<Fragment set:html={head} />
<link rel="alternate" type="application/rss+xml" title="BlogKub RSS" href="https://www.blogkub.com/rss.xml">
<link rel="alternate" type="application/feed+json" title="BlogKub JSON Feed" href="https://www.blogkub.com/feed.json">
</head>
<body>
<slot />
</body>
</html>
